body {

}

.main {
	height: 96vh;
	width: 98vw;
	display: flex;
	align-items: center;
	justify-content: center;
}


.main-quote {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: 300px;
	width: 350px;
}

@media only screen 
and (max-width : 510px)  {
.main-quote {
    display: block;
    width: 100%;
    overflow: hidden;
    }
}

.my-quotes {

}

#quotedisplay {
	height: 200px;
	width: 300px;
	font-family: "Ravi Prakash", cursive;
	font-size: 20px;
	border-radius: 5px;
	padding: 40px 10px 20px 10px; 


}

.twitter-share-button {
	margin-right: 200px;
	height: 42px;
	width: 42px;
}


#twitter-image {
	height: 42px;
	width: 42px;
}


#button-quote {
	border-radius: 5px;
	border-color: #b3b3b3;
	background-color: #b3b3b3;
	font-family: "Ravi Prakash", cursive;
	font-size: 20px;
	height: 40px;
	width: 108px;

}

#button-quote:hover {
	color: #b3d9ff;
}

twitter-image {
	height: 1vh;
	width: 1vw;
}

.by-raphael {
	color: #000000;
	margin-top: 50px;
	text-decoration: none;
	font-family: "Ravi Prakash", cursive;
	font-size: 20px;
}

.by-raphael:hover {
	color: #b3d9ff;
}